.chat-container {
  width: 100%;
  height: inherit;
  background: #ffffff;
  margin: 0 auto;
  font-size: 0;
  overflow: hidden;
  box-shadow: inset 0px 0px 20px 1px rgb(250, 251, 252);
}
.username {
  padding: 5px 10px;
}
.username:hover {
  cursor: pointer;
  background-color: lightsteelblue;
}
aside {
  width: 260px;
  /*padding: 0 10px;*/
  height: inherit;
  background-color: #f9f9f9; /*#eaeef2;*/
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}
main {
  width: calc(100% - 260px);
  height: inherit;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}
aside header {
  padding: 20px 15px;
}
.sidebar-header {
  display: flex;
  align-items: center;
  column-gap: 15px;
  border-bottom: 2px solid #eaeef2;
}
.sidebar-header .faUserCircle-img {
  font-size: 30px;
}
.search-cntr {
  box-sizing: border-box;
  margin: 10px 0;
  position: relative;
}
.faSearch-img {
  position: absolute;
  top: 10px;
  left: 25px;
}
.search-input {
  padding: 5px 5px 5px 35px;
  border: 1px solid #dedede;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}
.channel-list-cntr {
  /*border: 1px solid blue;*/
  margin-top: 15px;
  padding: 0px 10px;
}
.channel-list-cntr ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: auto;
  height: 690px;
}
.list-item-cntr {
  height: 70px;
  padding: 5px 8px;
  margin: 5px 0px;
  border-radius: 2px;
  text-align: left;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  /*border: 1px solid grey;*/
}
.faUserCicle-channelList {
  font-size: 48px;
}
.list-item-right {
  /*border: 1px solid blue;*/
  width: 100%;
  margin-top: 5px;
  padding: 0px 2px;
}
.list-item-right-header {
  display: flex;
  justify-content: space-between;
  /*border: 1px solid green;*/
}
.list-item-right-header .header-item-name {
  font-size: 13px;
  font-weight: 500;
  color: #0d6efd; /* #7690ff */
  margin: 0;
}
.list-item-right-header .header-item-time {
  font-size: 10px;
  color: #7e818a;
  font-weight: 700;
}
.list-item-right .message-alerts {
  display: flex;
  /*column-gap: 14px;*/
  justify-content: space-between;
  margin: 4px 0;
}
.list-item-right .snippet {
  font-size: 10px;
  margin-bottom: 0; /* reset margin-bottom */
  text-overflow: ellipsis;
  overflow: hidden;
  /*border: 1px solid blue;*/
  /*white-space: nowrap;*/
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #7e818a;
  font-weight: 700;
}
.list-item-right .newMessages {
  /*border: 1px solid orange;*/
  height: fit-content;
  border-radius: 50%;
  /*width: 30px;*/
}
.list-item-right .faCheck-img {
  color: #7e818a; /*#0d6efd;*/
  font-size: 12px;
}
.list-item-right .badge {
  background-color: #0d6efd;
  color: #fff;
  text-align: center;
  padding: 3px 6px;
  border-radius: 50%;
}
.list-item-right .badge.double-digits {
  padding: 3px;
}
/*aside li > .newMessages {
  margin-left: auto;
  margin-right: 5px;
}*/
.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}
aside li:hover {
  background-color: #d3d3d3;
  cursor: pointer;
  color: #fff;
}
aside li:active {
  background-color: #31333d;
}
.active-list-item {
  /*background-color: #333;*/
  /*color: #fff;*/
}
.active-list-item h2 {
  /*color: #fff;*/
}
.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}
.green-border {
  border: 2px solid #58b666;
  border-radius: 50%;
}
.orange-border {
  border: 2px solid #ff725d;
  border-radius: 50%;
}
.green {
  background-color: #58b666;
}
.orange {
  background-color: #ff725d;
}
.blue {
  background-color: #6fbced;
  margin-left: 7px;
  margin-right: 0;
}
/*main header > * {
  display: inline-block;
  vertical-align: top;
}*/
main .message-panel-container {
  padding: 15px;
  height: inherit;
}
.message-panel-header {
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  border-bottom: 2px solid #eaeef2;
  border-radius: 5px;
  margin-bottom: 2px;
  transition: height 0.3s linear;
}
.message-panel-header.expand {
  height: 150px;
  align-items: flex-start;
}
.title-form-btn-container {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}
.title-form-input-container {
  width: 70%;
}
main header > .channel-img {
  font-size: 30px;
}
main header h2 {
  font-size: 16px;
  margin-bottom: 5px;
}
main header h3 {
  font-size: 14px;
  font-weight: normal;
  color: #7e818a;
}
/*.message-chanel-actions {
  margin-left: auto;
}*/
.leave-icon {
  transition: all 0.2s ease-in-out;
  color: #7e818a;
  border-radius: 50%;
  padding: 2px;
  font-size: 22px;
}
.leave-icon:hover {
  transform: scale(1.5);
  cursor: pointer;
}
.leave-icon:active {
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  padding: 1px;
}
/* No longer using tooltip classes */
.tooltip-text {
  position: relative;
}
.tooltip-text:before {
  content: attr(data-text);
  position: absolute;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%);
  /* move to right */
  left: 100%;
  margin-left: 15px;
  width: 130px;
  font-weight: 500;
  padding: 5px 2px;
  border-radius: 5px;
  background-color: #7e818a;
  color: #fff;
  text-align: center;
  display: none; /* hide by default */
}
.tooltip-text.left:before {
  /* reset defaults */
  left: initial;
  margin: initial;
  /* set new values */
  right: -6%;
  margin-right: 0px;
}
.tooltip-text.bottom:before {
  /* reset defaults */
  top: initial;
  transform: initial;
  /* set new values */
  bottom: -110%;
  transform: translateY(90%);
}
.tooltip-text:after {
  content: '';
  position: absolute;
  left: 100%;
  margin-left: -20px;
  top: 100%;
  transform: translateY(0%);
  /* the arrow */
  border: 10px solid #000;
  border-color: transparent transparent #7e818a transparent;
  display: none;
}
.tooltip-text:hover:before,
.tooltip-text:hover:after {
  display: block;
}
/* tooltip classes end */
.message-box-container {
  /*height: calc(100% - 200px);*/
  height: calc(100% - 120px);
  overflow-y: auto;
}
.chat {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  /*box-shadow: inset 0 0 10px 0px lightgrey;*/
  /*border-top: 2px solid #eaeef2;
  border-bottom: 2px solid #eaeef2;*/
  border-radius: 5px;
  height: 88vh;
  position: relative;
}
.chat li {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  column-gap: 15px;
}
.chat > .you {
  flex-direction: row-reverse;
}
.feedback-typing {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.icon-message-container {
  display: flex;
  align-items: flex-end;
  column-gap: 10px;
}
.flex-direction-row {
  flex-direction: row;
}
.flex-direction-row-reverse {
  flex-direction: row-reverse;
}
.chat li .message-container {
  border: 1px solid #dcdcdc;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
  color: #4c4c4c;
}
.chat-username-txt {
  color: #4c4c4c;
  font-weight: 500;
  font-size: 13px;
}
.chat h2,
.chat h3 {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
}
.chat h3 {
  color: #bbb;
}
.chat .entete {
  margin-bottom: 5px;
}
.chat .message {
  padding: 20px;
  color: #fff;
  line-height: 25px;
  max-width: 90%;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
}
.chat .me {
  text-align: right;
}
.chat .you .message {
  background-color: #58b666;
}
.chat .me .message {
  background-color: #6fbced;
}
.file-upload-image {
  width: 150px;
}
.file-upload-image:hover {
  cursor: pointer;
}
main footer {
  /*height: 50px;*/
  padding: 10px 5px;
  border-top: 2px solid #eaeef2;
  /*box-shadow: inset 0 0 10px 0px lightgrey;*/
}
.chatbox-container {
  display: flex;
  flex-direction: column;
}
.textarea-form {
  width: 100%;
}
main footer form {
  display: flex;
  align-items: center;
}
main footer textarea {
  resize: none;
  border: none;
  display: inline-block;
  width: 100%;
  height: 43px;
  /*border-radius: 3px;*/
  padding: 8px;
  font-size: 13px;
  background-color: #eaeef2;
}
main footer textarea::placeholder {
  color: #646464;
}
main footer #submit {
  width: 15%;
  height: 36px;
  border: 1px solid transparent;
  background-color: #cad5df;
}
main footer #submit:active {
  border: 1px solid blue;
}
main footer #submit:hover {
  cursor: pointer;
  border: 1px solid #fff;
}
.file-upload {
  height: 43px;
  width: 50px;
  background-color: #ebeef2;
}
.file-upload:hover {
  background-color: #f2efeb;
}
.file-upload > input {
  display: none;
}
.file-upload .faPaperclip {
  cursor: pointer;
  color: #6495ed;
  box-sizing: content-box;
  padding: 0 8px;
  background-color: transparent;
  height: 43px;
  /*font-size: initial;*/
}
.chatbox-submit {
  width: 80px;
  padding: 10px;
  border: transparent;
  background-color: lightsteelblue;
}
.chatbox-submit:hover {
  cursor: pointer;
  background-color: red;
}
.btn-icon-txt {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.add-friend-header-txt {
  font-size: 16px;
}
.hidden-txt {
  visibility: hidden;
}
.modal-body-children {
  margin: 10px 0 20px;
}
.modal-body-children h5 {
  font-size: 18px;
  font-weight: 500;
}
/* Add-To-Group */
.addToGroup-list-item {
  display: flex;
  justify-content: space-between;
}
