.chat-container {
  width: 100%;
  height: inherit;
  background: #ffffff;
  margin: 0 auto;
  font-size: 0;
  overflow: hidden;
  box-shadow: inset 0px 0px 20px 1px rgb(250, 251, 252);
}
aside {
  width: 260px;
  min-width: ;
  height: inherit;
  background-color: #eaeef2;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}
main {
  width: calc(100% - 260px);
  height: inherit;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}
aside header {
  padding: 20px;
}
aside ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: auto;
  height: 690px;
}
aside li {
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  text-align: left;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}
aside li > .newMessages {
  margin-left: auto;
  margin-right: 5px;
}
.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}
aside li:hover {
  background-color: #5e616a;
  cursor: pointer;
  color: #fff;
}
aside li:active {
  background-color: #31333d;
}
aside li img {
  border-radius: 50%;
  /*margin-left: 20px;*/
  margin-right: 8px;
}
aside li h2 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;
}
aside li h3 {
  font-size: 12px;
  color: #7e818a;
  font-weight: normal;
}
.active-list-item {
  background-color: #333;
  color: #fff;
}
.active-list-item h2 {
  color: #fff;
}
.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}
.green {
  background-color: #58b666;
}
.orange {
  background-color: #ff725d;
}
.blue {
  background-color: #6fbced;
  margin-left: 7px;
  margin-right: 0;
}
/*main header > * {
  display: inline-block;
  vertical-align: top;
}*/
main .message-panel-container {
  padding: 10px;
  height: inherit;
}
main header {
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  border-bottom: 2px solid #eaeef2;
  border-radius: 5px;
  margin-bottom: 2px;
}
main header > .channel-img {
  font-size: 30px;
}
main header h2 {
  font-size: 16px;
  margin-bottom: 5px;
}
main header h3 {
  font-size: 14px;
  font-weight: normal;
  color: #7e818a;
}
.chat {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: auto;
  height: calc(100% - 100px);
  /*box-shadow: inset 0 0 10px 0px lightgrey;*/
  border-top: 2px solid #eaeef2;
  border-bottom: 2px solid #eaeef2;
  border-radius: 5px;
}
.chat li {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  column-gap: 15px;
}
.chat > .you {
  flex-direction: row-reverse;
}
.icon-message-container {
  display: flex;
  align-items: end;
  column-gap: 10px;
}
.flex-direction-row {
  flex-direction: row;
}
.flex-direction-row-reverse {
  flex-direction: row-reverse;
}
.chat li .message-container {
  border: 1px solid #dcdcdc;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
  color: #4c4c4c;
}
.chat-username-txt {
  color: #4c4c4c;
  font-weight: 500;
  font-size: 13px;
}
.chat h2, .chat h3 {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
}
.chat h3 {
  color: #bbb;
}
.chat .entete {
  margin-bottom: 5px;
}
.chat .message {
  padding: 20px;
  color: #fff;
  line-height: 25px;
  max-width: 90%;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
}
.chat .me {
  text-align: right;
}
.chat .you .message {
  background-color: #58b666;
}
.chat .me .message {
  background-color: #6fbced;
}
main footer {
  /*height: 50px;*/
  padding: 10px 5px;
  /*box-shadow: inset 0 0 10px 0px lightgrey;*/
}
main footer form {
  display: flex;
  align-items: center;
}
main footer textarea {
  resize: none;
  border: none;
  display: inline-block;
  width: 100%;
  height: 43px;
  /*border-radius: 3px;*/
  padding: 8px;
  font-size: 13px;
  background-color: #eaeef2;
}
main footer textarea::placeholder {
  color: #646464;
}
main footer #submit {
  width: 15%;
  height: 36px;
  border: 1px solid transparent;
  background-color: #cad5df;
}
main footer #submit:active {
  border: 1px solid blue;
}
main footer #submit:hover {
  cursor: pointer;
  border: 1px solid #fff;
}
.chatbox-submit {
  width: 80px;
  padding: 10px;
  border: transparent;
  background-color: lightsteelblue;
}

.chatbox-submit:hover {
  cursor: pointer;
  background-color: red;
}

.btn-icon-txt {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.add-friend-header-txt {
  font-size: 16px;
}

.hidden-txt {
  visibility: hidden;
}

.feedback {
  color: red;
}