.users-container {
  text-align: left;
  list-style-type: none;
}
.users-container {
  margin-top: 15px;
}
.users-container > li {
  margin: 5px 0;
  padding: 5px 25px;
  border: 1px solid rgba(239, 239, 240, 1.0);
  background-color: rgba(239, 239, 240, 1.0);
  display: flex;
  align-items: center;
}
.users-container > li:hover {
  cursor: pointer;
  border: 1px solid rgba(239, 239, 240, 0.3);
  background-color: rgba(239, 239, 240, 0.3);
}
.left {
  margin-right: auto;
}
.user-name {

}
.user-status {
  font-size: 14px;
  color: #92959e;
}
.icon {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: #e38968;
  margin-right: 6px;
}
.icon.connected {
  background-color: #86bb71;
}
.new-messages {
  border-radius: 50%;
  border: 1px solid red;
  text-align: center;
  width: 18px;
  height: 18px;
  color: red;
  font-size: 14px;
  font-weight: 700;
}