.chat-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin-top: 5em;
  /*background-color: lightgray;*/
}
.sidebar {
  width: 250px;
  height: 75%;
  border-radius: 0.2em;
  position: relative;
  /*box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);*/
  border: 1px solid rgba(239, 239, 240, 1.0);
}
.sidebar h2 {
  font-weight: 400;
  font-size: 1.25em;
  color: grey;
}
.users-container, .message-container {
  text-align: left;
  list-style-type: none;
}
.users-container {
  margin-top: 15px;
}
.users-container > li {
  /*margin: 5px;*/
  padding: 10px 25px 10px;
  border: 1px solid rgba(239, 239, 240, 1.0);
  background-color: rgba(239, 239, 240, 1.0);
}
.users-container > li:hover {
  cursor: pointer;
  border: 1px solid rgba(239, 239, 240, 0.3);
  background-color: rgba(239, 239, 240, 0.3);
}
.message-container > li {
  padding: 0.5rem 1rem;
}
.message-container > li:nth-child(odd) {
  background-color: #efefef;
}
.chat-box {
  width: 600px;
  height: 75%;
  border-radius: 0.2em;
  position: relative;
  /*box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);*/
  border: 1px solid rgba(239, 239, 240, 1.0);
}
.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
input[type="text"] {
  padding: 1em .5em;
  margin: 0;
  border-width: 1px;
  width: calc(100% - 15px);
}
.logout-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}