.chat-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin-top: 5em;
  /*background-color: lightgray;*/
}
.sidebar {
  width: 250px;
  height: 75%;
  border-radius: 0.2em;
  position: relative;
  /*box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);*/
  border: 1px solid rgba(239, 239, 240, 1.0);
}
.sidebar h2 {
  font-weight: 400;
  font-size: 1.25em;
  color: grey;
}

